*.iml
.DS_Store

.gradle/
.kotlin/

local.properties
captures/

.externalNativeBuild/
.cxx/
**/build/

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
